In [68]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('vgsales.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [5]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [21]:
# Total_sales = df[['Publisher','Global_Sales']].sort_values('Global_Sales', ascending=False).head(1)
# Total_sales

Most_common_Publisher = df['Publisher'].value_counts().head(1)
Most_common_Publisher

Electronic Arts    1351
Name: Publisher, dtype: int64

In [22]:
#df['Platform'].value_counts().sort_values(ascending=False)
Most_common_platform = df['Platform'].value_counts().head(1)
Most_common_platform

DS    2163
Name: Platform, dtype: int64

In [24]:
Most_common_Genre = df['Genre'].value_counts().head(1)
Most_common_Genre

Action    3316
Name: Genre, dtype: int64

In [27]:
# What are the top 20 highest grossing games?
Highest_grossing_games = df[['Name','Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)
Highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [56]:
# For North American video game sales, what’s the median?
NA_Median = df['NA_Sales'].median()
NA_Median

0.08

In [61]:
with_median = df[df["NA_Sales"] == NA_Median]
with_median_index = with_median[['NA_Sales', 'Name']].head(10)
with_median_index

      NA_Sales                                               Name
446       0.08                                  Dragon Warrior IV
497       0.08        World Soccer Winning Eleven 7 International
1617      0.08                             Farming Simulator 2015
1926      0.08                          Pro Evolution Soccer 2008
2067      0.08  Winning Eleven: Pro Evolution Soccer 2007 (All...
2373      0.08                           Phantasy Star Portable 2
2579      0.08                               The Sims 2: Castaway
3186      0.08                                     SingStar Queen
3503      0.08                                         Top Spin 3
3703      0.08               Sonic & All-Stars Racing Transformed

In [90]:
Highest_grossing_games_NA = df.iloc[0].NA_Sales
print(f'Highest_grossing_games_NA_Games: {Highest_grossing_games_NA}')

NA_Mean = df['NA_Sales'].mean()
print(f'NA_Mean: {NA_Mean}')

NA_Std = df['NA_Sales'].std()
print(f'NA_Std: {NA_Std}')


Dist_From_Mean = Highest_grossing_games_NA - NA_Mean
print(f'Dist_From_Mean: {Dist_From_Mean}')

#standard deviations above/below the mean
abv_blw = Dist_From_Mean / NA_Std
abv_blw

Highest_grossing_games_NA_Games: 41.49
NA_Mean: 0.26466742981082064
NA_Std: 0.8166830292988796
Dist_From_Mean: 41.22533257018918

50.47898767479108

In [80]:
df['NA_Sales'].describe()

count    16598.000000
mean         0.264667
std          0.816683
min          0.000000
25%          0.000000
50%          0.080000
75%          0.240000
max         41.490000
Name: NA_Sales, dtype: float64

In [91]:
# five above median
five_above_median = df[df["NA_Sales"] > NA_Median ][["Name", "NA_Sales"]].tail(5)
five_above_median


# five below median
five_below_median = df[df["NA_Sales"] < NA_Median ][["Name", "NA_Sales"]].head(5)
five_below_median

                                                    Name  NA_Sales
10975  Fighting Fantasy: The Warlock of Firetop Mountain      0.09
10990                                     I Love Puppies      0.09
10999                            Cake Mania: Main Street      0.09
11003                                            DaGeDar      0.09
11012                 NERF N-Strike: Double Blast Bundle      0.09